// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

a {
    text-decoration: none !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  a:active {
    color: black;
  }

.fa {width: 18px !important; height: 14px !important;}
.fa-home{ color: red;}
.fa-users{color: green;}
.fa-user-graduate{color: $blue;}
